@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

html{background: linear-gradient(to bottom, rgb(53, 53, 53), black);
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.video-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
}

.video-item {
    position: relative;
    width: 500px; /* Adjust the width as needed */
    height: 0;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
}

.video-item video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.footer {
    background-color: black;
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
    font-family: 'Abel', sans-serif;

}
.footer a {
    color: white;
    text-decoration: none;
}